* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  background-image: url("./pictures/blue-background-7470781_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: rgb(35, 34, 34);
  width: 80vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  background-color: rgb(50, 50, 50);
  width: 22vw;
  height: 65vh;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid black;
}
footer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(+120px);
}

.name {
  color: rgb(240, 240, 240);
  margin-top: 10px;
  padding: auto;
  margin-left: 60px;
}
.from {
  color: rgb(160, 255, 58);
  margin-top: 7px;
  padding: auto;
  margin-left: 105px;
}
.C-lass {
  color: rgba(207, 207, 207, 0.874);
  margin-top: 15px;
  padding: auto;
  margin-left: 25px;
}

.basic-button {
  color: white;
  background-color: rgb(79, 78, 78);
  margin-top: 10px;
  padding: 9px 90px;

  border-radius: 7px;
  border: 1px solid rgb(50, 50, 50);
}

.basic-button:hover {
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}
.basic-flex {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
